

{% extends 'master.html' %}
{% load static %}
{% block bg %}
{% endblock bg %}
{% block content %}
<br>
<div class="container">

<br>
<hr>
<div class="alert alert-info">
<center>
  <h4>กรุณาโอนเงินตามบัญชีข้างต้น และทำการแนบสลิปเพื่อยืนยันการชำระเงิน</h4>
</center>
</div>

<div class="row">
  <div class="col-sm-3">
  {% if cartitem.product.image_url %}<img class="card-img-top" style="height:40%;width:100%"src="{{cartitem.product.image_url.url}}" alt="Card image">{% endif %}
        <h4>{{cartitem.product.name}}</h4> 
  <div><h3>{{cartitem.sub_total}}</h3></div>
  <hr>
  <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name="img" />
       
        <br>

        <button type="submit" class="btn btn-primary" name="Submit"> บันทึกข้อมูล </button>
    </form> 

  </div><!--col3-->

  <div class="col-sm-9">
<div class="row">
          {% for i in sellerbank %}
            {% if i.user.id == cartitem.product.p_seller.id %}
        <div class="col-sm-3"> 
    
        <div class="card text-black bg-white mb-3" >
        <div class="card-header"><h6>ข้อมูลธนาคาร</h6></div>
            {% if i.bank.image_url %}<img class="card-img-top" style="height:100%;width:100%"src="{{i.bank.image_url.url}}" alt="Card image">{% endif %}
            <div class="card-body">
            <h4 class="card-title">{{i.bank.name}}</h4>
            <h5 class="card-text">เลขที่บัญชี: {{i.number}}</h5>
            <h5 class="card-title">ชื่อบัญชี: {{i.namebank}}</h5>
            
            </div>
            </div> 
      
        
      </div><!--col-->
        {% endif %}
        {% endfor %}

        </div><!--row-->


  </div><!--col9-->

        
</div><!--row-->

 

  



</div><!-- container-->


 {% endblock content %}
 <br><br>
