.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

#bottom-footer {
    background-color: rgb(243, 236, 233);
    color: rgb(8, 8, 8);
    padding-left: 40px;
    padding: 10px;
    min-height: 5vh;
    width: 100%;
}

#bottom-footers {
    background-color: rgb(233, 131, 72);
    color: white;
    padding-left: 50px;
    min-height: 5vh;
    width: 100%;
}

#pad {
    margin: 10px;
}