<html lang="en">
<head>
  <title>ลบข้อมูลสินค้า</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>ลบข้อมูลสินค้า</h1>
  <hr>
  
  <div class="row">
    <div class="col-sm-6"><center>
		<div class="card">
  			{% if product.image_url %}<img class="card-img-top" src="{{ product.image_url.url }}" style="height:300px" alt="Card image cap">{% endif %}
  			<div class="card-body">
    			<h3 class="card-text">{{product.name}}</h3>
				<h3 style="color:red" class="my-3">{{product.price}}</h3>
      
      
  			</div>
		</div>
	</center></div>
    <div class="col-sm-6">
	<div class="alert alert-danger" role="alert">
  คุณต้องการลบสินค้าชิ้นนี้ใช่ไหม
</div>
	<form action="" method="POST">
				
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" name="Confirm" value="ใช่">
				<a class="btn btn-danger" href="{% url 'user' %}">ยกเลิก</a>
			</form>
	
	</div>
  </div>
</div>
    
</body>
</html>


			