{% extends "master.html" %}

{% block title %}productdetail{% endblock %}

{% block content %}
{% block bg %}
{% endblock bg %}
<br><br>
<div class="container">

  <!-- Portfolio Item Heading -->
  
 <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col"><center>
   
      <img  src="{{productdetail.image_url.url}}" style="height:400px" alt="Responsive image"/>
      <h6>วันที่ขาย : {{productdetail.date|date:"d F, Y"}}</h6>
      
    </center></div>

    <div class="col">
      <h3 class="my-3">{{productdetail.name}}</h3>
      
      
      <ul>
        <li >สี : {{productdetail.color}}</li>
        <li>หมวดหมู่ : {{productdetail.category}}</li>
        <li>ยี่ห้อ : {{productdetail.brand}}</li>
        <li>ขนาด : {{productdetail.size}}</li>
      </ul>
      <h3 style="color:red" class="my-3">{{productdetail.price}}</h3>
      {% if user.is_authenticated %}
      <a href="{% url 'cart:addcart' productdetail.id %}"><button type="submit" class="btn btn-primary"  name="addcart"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> เพิ่มลงในตะกร้า </button></a>
       {% else %} 
      <button type="button" class="btn btn-primary  " disabled>เพิ่มลงในตะกร้า </button>
      <a href="{% url 'signin' %}">กรุณาเข้าสู่ระบบ</a>
      {% endif %}
      <hr><h6>รายละเอียด : </h6>
      <h5 class="my-3">{{productdetail.detail}}</h5>
      <br><br> <hr> 
      <h4>ผู้ขาย : {{productdetail.p_seller}}
      <a href="{% url 'sellerprofile' productdetail.p_seller.id %}"> 
      <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span> ดูข้อมูล</button></a>
      {% if productdetail.p_seller == user.seller %}
      <a href="{% url 'product:edit_product' productdetail.id %}" title="แก้ไข" class="btn btn-warning btn-sm "> แก้ไข</a>
      <a href="{% url 'product:delete_product' productdetail.id %}" title="ลบ" class="btn btn-danger btn-sm ">  ลบ</a>
      
      
      
      {% endif %}
    </h4>
    </div>



  </div>
</div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  
  <!-- /.row -->


<br><br>
<!-- /.container -->
{% endblock %}
