<div class="container">
<div class="col-12">

  <div class="row">
    {% for i in bank %}
            
                <div class="col-4">
                    <div class="card" style="width:400px">
                    {% if i.bank.image_url.url %}<img class="card-img-top" src="{{i.bank.image_url.url}}" alt="Card image">{% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{i.bank.name}}</h4>
                        <p class="card-text"> ชื่อบัญชี : {{i.namebank}}</p>
                        <h5>เลขบัญชี : {{i.number}}</h5>
                    </div>
                    </div>
                </div>  
                
    {% endfor %}
    
  </div>

               
                </div>