

{% if address %} 
{% for i in address %}

<a href="{% url 'editaddress' i.id %}"><button type="button" class="btn btn-warning">แก้ไขข้อมูลที่อยู่</button></a><br>
<div class="cardtext-black bg-ligh mb-3" style="max-width: 40rem;">
            
            <div class="card-body">
               
               
                
                <h5>
                <div>ที่อยู่: <strong>{{i.number}}</strong></div><br>
                <div>ตำบล: <strong>{{i.tumbon}} </strong></div><br> 
                <div>อำเภอ: <strong>{{i.city}}</strong></div><br> 
                <div>จังหวัด: <strong> {{i.country}} {{i.zipcode}}</strong></div><br>
                
                <div></div>
                </h5>
               
            </div>
            </div>
          
                {% endfor %}
                {% else %}
                <a href=""><button class="btn btn-primary">เพิ่มที่อยู่ของท่าน <i class='fas fa-house-user'></i></button></a>
                <h5>กรุณาเพิ่มที่อยู่ก่อนทำการการสั่งซื้อสินค้า</h5>
{% endif %}




