{% extends "master.html" %}

{% block title %}ข้อมูลส่วนตัว : {{user.first_name}}{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="static/assets/css1/css1.css">
<link rel="stylesheet" href="{% static 'table/table.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<br>
{% if user.is_authenticated %}
<div class="container-fluid">
  <div class="container">
    
      <div class="col-sm-3 pr-md-0 bg-light">
          <nav class="navbar navbar-expand-md navbar-light flex-row flex-md-column align-items-start px-1">
              
              <a class="navbar-toggler" href="#" data-toggle="collapse" data-target="#navbarToggle">
                  <span class="navbar-toggler-icon"></span>
              </a>
              <div class="collapse navbar-collapse ml-md-n2" id="navbarToggle">
                  <div class="navbar-nav ml-auto flex-column">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"><center>
                      {% if user.buyer.image_url %}
                      <img class="img-circle img-responsive" src="{{ user.buyer.image_url.url }}" alt="" style="height:150px" >
                      {% else %}
                      <img class="img-circle img-responsive" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="" style="height:120px" >
                      {% endif %}</center><br>
                          <h5 style="color:blue">{{user.first_name}}</h5>
                      </h4>
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">บัญชีของฉัน</a>
                  
                 
                  
                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">คำสั่งซื้อของฉัน</a>
                </div>
                  </div>
              </div>
          </nav>
      </div><br>
      <!--  ความกว้าง ของ reponsive-->
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
  
  {% if messages %}
            
                {% for message in messages %}
               <div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
                {% endfor %}{% endif %}
  
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" >

              <legend>ข้อมูลส่วนตัว</legend>
             
                    <div class="row">
                        <div class="col-sm-6">
                              {% include 'buyer/bprofile.html' %}
                        </div>
                        <div class="col-sm-6">
                               {% include 'buyer/address.html' %}
                        </div>
                      </div>
           
          </div><!-- จบหนึ่ง -->


            
           

          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <legend>คำสั่งซื้อ</legend>
          
            {% include 'buyer/myorder.html' %}
              
                 
           
          </div><!--  จบสี่ -->




         
      </div>
    </div>  
</div>
</div> 
{% else %}
<div class="container">
<h1> กรุณาเข้าสู่ระบบ</h1> <br>
<a class="btn btn-primary" href="{% url 'signin' %}">เข้าสู่ระบบ</a>
</div>
{% endif %}

{% endblock %}

